body {
    margin-bottom: 50px;
    background-color:#f6ecdc;
    font-family: 'Asap', sans-serif;
}

        .fa {
            padding: 10px;
            font-size: 30px;
            width: 40px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
        }

        .fa-linkedin {
            background: #007bb5;
            color: white;
        }

h2 {
    text-align: center;
}

.col-lg {
    background-color: gray
    padding-left: ($spacer * .5) !important;
    padding-right: ($spacer * .5) !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(128, 128, 128);
    color: white;
    text-align: center;
    z-index: 1;
}        

